<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnBpYn_ZYPYGPq3kcth-Bs0mNKpv2QCeE</string>
	<key>GCM_SENDER_ID</key>
	<string>1087800138241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.sniffsocial</string>
	<key>PROJECT_ID</key>
	<string>cms2024-8760c</string>
	<key>STORAGE_BUCKET</key>
	<string>cms2024-8760c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087800138241:ios:6ac89e4e16a085fb1cfe00</string>
	<key>DATABASE_URL</key>
	<string>https://cms2024-8760c-default-rtdb.firebaseio.com</string>
</dict>
</plist>